
.logo {
    height: 100%;
    width: 100%;
}

.register-container{
    align-content: center;
}

.register-flex {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 1rem; 
}

.register-header {
    color: black;
    font-size: 50px;
    text-align: center;
}

.register-line {
    color: black;
    font-size: 30px;
    text-align: center;
}

#register-email {
    width: 250px;
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}

#register-name {
    width: 250px;
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}

#register-password {
    width: 250px;
    font-size: 30px;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
}

.register-btn {
    width: 250px;
    font-size: 23px;
    background-color: skyblue;
    padding: 20px;
    border-radius: 25px;
}
