

.login-container{
    display: flex; 
    height:100vh;
    justify-content: center; 
    align-items: center;
    background: url("https://images.unsplash.com/photo-1533777419517-3e4017e2e15a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") !important;
    background-size: auto;
    /* background: rgba(255, 255, 255, 0.226); */

}

.login-flex {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 1rem; 
}

.login-header {
    color: black;
}